.fundoPraia{
    color: black;
    background-color: cyan;
}

.galeria img{
    padding: 5px;
    background-color: rgba(0,0,0, .5);
    height: 300px;
    -webkit-filter: grayscale(10%);
    filter: grayscale(100%)
}

.galeria img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}






.botaoMenu{
    width: 46px;
    height: 46px;
    float: right;
    cursor: pointer;
    background: #fff url(../images/imagens/menu.png) center center no-repeat no-repeat;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.botaoMenu.menuAtivo{
    background-color: #000;
}

.botaoMenu:hover{
    background-color: cyan;
}











nav ul{
    position: fixed;
    left: -100%;
    top: 0;
    width: 75%;
    height: 100%;
    min-width: 200px;
    max-width: 320px;
    background: #6b0594;
    overflow: hidden;
    overflow-y: auto;
}

nav ul li{
    position: relative;

}

nav ul li a{
    color: #fff;
    display: block;
    padding: 10px;

}

nav ul li:hover,
nav ul li a:hover{
    background-color: rgba(0,0,0, .5);
    color: #fff;
}

nav ul li ul{
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    background-color: #8d48a8;

}

nav ul li ul li a{
    text-align: left;
    border-bottom: 1px solid black;
}

nav ul li il li a:hover{
    color: #fff;
    background-color: rgba(0,0,0, .5)
}











.formularioBusca{
    position: relative;
    float: left;
    width: 50%;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.formularioBusca input{
    text-align: left;
    color: #430069;
    text-indent: 5px;
    height: 30px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0;
}

.botaoBusca{
    position: absolute;
    right: -50px;
    top: 0;
    width: 26px;
    height: 26px;
    background-image: url(../images/imagens/icones.png);
    background-repeat: no-repeat;
    background-position: -58px -26px;
    cursor: pointer;

}

::-webkit-input-placeholder{
    color: #430069;
    font-weight: bold;
    font-size: .8em;
    font-style: normal;
}

::-moz-input-placeholder{
    color: #430069;
    font-weight: bold;
    font-size: .8em;
    font-style: normal;
}








*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    border: 0;
}

.logo{
    height: 90px;
    width: 320px;
    margin: 0 auto;
}

header{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 5px solid #000;
}
.fundoBlueViolet{
    color: #fff;
    background-color: #430069;
}